/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'space-mono';
    src: url('SpaceMono-Regular.ttf');
}

body {
    font-family: space-mono, monospace;
    background-color: #b8b3b3;
}

.navbar-dark {
    background-color: #333333;
}

.card {
    background-color: transparent;
    border: none;
}
