 <!-- Navbar -->
<nav class="navbar navbar-dark shadow">
  <div class="container">
      <h2 class="text-white">Programming Books</h2>
  </div>
</nav>
 <div class="row row-cols-2 row-cols-md-6 g-4 mx-4 my-4">
  
  <div *ngFor="let book of books" (click)="selectBook(book.name);" class="col">
    <div class="card h-100">
      <img src="assets/book_pixelart.png" class="card-img-top" [ngClass]="book.color" alt="book.name">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bold; text-align: center;">{{book.name}}</h5>
      </div>
    </div>
  </div>

</div>